.container{
    border: 2px solid rgb(234, 105, 126);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5px;
    position: relative;
}
.icon{
    font-size: 20px;
}
.switcher{
width: 25px;
aspect-ratio: 1/1;
background-color: rgb(197, 72, 93);
border-radius: 50%;
position: absolute;
cursor: pointer;
}